@font-face {
    font-family: 'BIT';
    src: url("./assets/monogram-extended.ttf")
}

@font-face {
    font-family: 'Dungeon';
    src: url("./assets/DungeonFont.ttf")
}

body{
    background: #e3d6c8;
    font-family: "BIT", sans-serif;
    font-size: 23px;
    font-weight: bold;
}
.main{
    border: solid 5px #371005;
    border-radius: 10px;
    min-width: max-content;
    min-height: max-content;
    max-width: max-content;
    max-height: max-content;
}
.gamesurf{
    display: flex;
}
.game{
    border: solid 5px #371005;
    border-radius: 10px;
    align-content: center;
    margin: .5rem 0 0 .5rem;
}
.inventory{
    font-size: 25px;
    border: solid 5px #371005;
    border-radius: 10px;
    list-style: none;
    min-width: 330px;
    margin: .5rem .5rem 0 .5rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    margin: 0 .5rem
}
.name{
    margin-left: .5rem;
    width: 50px;
}
.pic{
    margin: 0 0;
    border: 3px solid #371005;
    border-radius: 50%;
}
.list{
    list-style-type: none;
    margin-left: .5rem;
    padding-left: .5rem;
    width: 50px;
}

.characteristics{
    margin-left: 2.5rem;
    font-size: 20px;
}

.title{
    color: #371005;
    margin: .5rem 5rem .5rem 5rem;
    border: #371005 solid 3px;
    border-radius: 30px;
    font-weight: bolder;
    background-color: #b6846b;
}
table{
    justify-content: center;
    border: #371005 3px solid;
    color: #371005;
    border-radius:  10px;
    margin: 0 .5rem;
    background-color: #b6846b;
}
caption{
    margin-left: 10rem;
    font-size: 30px;
}
.hint{
    display: flex;
    max-width: 1080px;
    justify-content: center;
    align-items: center;
    max-height: 80px;
}
.selector{
    font: 20px "BIT", sans-serif;
    font-weight: bolder;
    background-color: #b6846b;
    color: #371005;
    border: #371005 solid 3px;
    border-radius: 10px;
    margin-right: 0;
    cursor: pointer;
    padding: 0 .5rem;
}
.selector:hover{
    background-color: #371005;
    color: #b6846b;
}
img{
    margin-right: 1rem;
}
.potion{
    position: absolute;
    margin-left: 180px;
    margin-top: 30px;
}
.nameInput{
    margin: .5rem;
    display: flex;
    border-radius: 30px;
}
.nameInput>input {
    font-size: 25px;
    max-height: 50px;
    margin-right: .5rem;
}
.nameInput>button{
    font-size: 25px;
}
.charName{
    background-color: #b6846b;
    border: #371005 3px solid;
    margin: .5rem;
    max-width: max-content;
    height: 20px;
    border-radius: 10px;
    padding: .5rem;
}
